.customFilterCard {
    background-color: var(--bg-body);
    box-shadow: -1px -1px 11px -5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px -1px 11px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -1px 11px -5px rgba(0, 0, 0, 0.75);
    z-index: 99999;
}

.customCardCarList {
    border-radius: 5px !important;
    border: 1px solid var(--body-color) !important;
    padding: 10px;
}

.rentNowBtn {
    color: var(--bg-body);
    background-color: var(--orange-color);
    font-weight: bold;
    width: fit-content;
    padding: 3px 10px 3px 10px;
}

@media (min-width: 1024px) {
    .customFilterCard {
        width: 120% !important;
    }
}