@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --bg-body: #fff;
    --orange-color: #fd7e14;
    --black: #201F1D;
}

.app {
    position: relative;
}

.customSubtitle {
    color: var(--orange-color);
    font-weight: bold;
    background-color: #F2F7F6;
    padding: 10px;
    border-radius: 5px;
}

.customSectionTitle {
    color: var(--black);
    font-weight: bold;
}

.customOverlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}

/* Pages Header */
.customPagesHeader {
    background-image: url('./assets/AboutBg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--bg-body);
}

/* Navbar */
nav {
    background-color: var(--bg-body);
    box-shadow: -1px -1px 11px -5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px -1px 11px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -1px 11px -5px rgba(0, 0, 0, 0.75);
    z-index: 99999;
}

.navLinks {
    background-color: var(--black);
    box-shadow: 4px 4px 11px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 11px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 11px -3px rgba(0, 0, 0, 0.75);
    z-index: 99999;
}

.links {
    color: var(--bg-body);
    font-weight: 600;
}

.menu {
    color: var(--orange-color);
    font-size: 2rem;
}

.menuHeader {
    background-color: var(--bg-body);
    color: var(--back);
}

.navHeader h1 span {
    color: var(--orange-color);
}

.closeBtn {
    color: var(--orange-color);
}

/* footer */
.customFooter {
    background-color: var(--black);
    color: var(--bg-body);
}

@media (min-width: 1024px) {
    .links {
        color: var(--back);
        font-weight: 600;
    }
}