/* vechile fleet */
.swiper {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.swiper-slide {
    border-radius: 5px !important;
    border: 1px solid var(--body-color) !important;
    padding: 10px;
}

.swiper-slide div img {
    border-radius: 5px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 15px !important;
    color: #201F1D;
    font-weight: bolder;
}

.swiper-button-prev {
    left: 1px !important;
    background-color: #fff;
    border: 1px solid #676767;
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    padding: 10px;
}

.swiper-button-next {
    right: 1px !important;
    background-color: #fff;
    border: 1px solid #676767;
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    padding: 10px;
}

.logos {
    background-color: #201F1D;
    overflow: hidden;
    display: flex;
}

.dividedLine {
    background-color: #fd7e14;
    width: 100px;
    height: 3px;
}

.logos-slide {
    animation: 8s slide infinite linear;
}

.logos-slide span {
    font-size: 3rem;
    font-weight: bold;
    color: #fd7e14;
}

@keyframes slide {
    form {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}